Repository oasis-tcs/openeox, pull requests merged in 2025-07, with the labels that each got.

#97 docs: add Sep 2024 meeting minutes
  meeting-minutes/2024/2024-09-18.md
Labels: meeting minutes, motion

#96 docs: add June 2025 meeting minutes
  meeting-minutes/2025/2025-06-18.md
Labels: meeting minutes, motion_passed

#94 Shell CSAF Schema
  schema/shell_csaf.json
Labels: tc-discussion, schema, motion_passed

#99 Added initial eox-core-v-1-0 spec area
  eox-core-v-1-0/examples/README.md
  eox-core-v-1-0/prose/README.md
  eox-core-v-1-0/prose/edit/bin/invert_eg_labels.py
  eox-core-v-1-0/prose/edit/bin/invert_sec_labels.py
  eox-core-v-1-0/prose/edit/bin/lapidify.py
  eox-core-v-1-0/prose/edit/bin/png-logo-to-data-url.sh
  eox-core-v-1-0/prose/edit/bin/toccata.py
  eox-core-v-1-0/prose/edit/bin/volatile.py
  eox-core-v-1-0/prose/edit/etc/bind.txt
  eox-core-v-1-0/prose/edit/etc/etiketti/etiketti.yml
  eox-core-v-1-0/prose/edit/etc/example-global-to-local.json
  eox-core-v-1-0/prose/edit/etc/example-local-to-global.json
  eox-core-v-1-0/prose/edit/etc/liitos/approvals.yml
  eox-core-v-1-0/prose/edit/etc/liitos/bookmatter.tex.in
  eox-core-v-1-0/prose/edit/etc/liitos/changes.yml
  eox-core-v-1-0/prose/edit/etc/liitos/driver.tex.in
  eox-core-v-1-0/prose/edit/etc/liitos/meta.yml
  eox-core-v-1-0/prose/edit/etc/liitos/metadata.tex.in
  eox-core-v-1-0/prose/edit/etc/liitos/patch.yml
  eox-core-v-1-0/prose/edit/etc/liitos/publisher.tex.in
  eox-core-v-1-0/prose/edit/etc/liitos/setup.tex.in
  eox-core-v-1-0/prose/edit/etc/liitos/structure.yml
  eox-core-v-1-0/prose/edit/etc/markdownlint.json
  eox-core-v-1-0/prose/edit/etc/oasis/starter-template.md
  eox-core-v-1-0/prose/edit/etc/section-display-to-label.json
  eox-core-v-1-0/prose/edit/etc/section-label-to-display.json
  eox-core-v-1-0/prose/edit/etc/tidy-config.txt
  eox-core-v-1-0/prose/edit/etc/vale.ini
  eox-core-v-1-0/prose/edit/makefile
  eox-core-v-1-0/prose/edit/src/acknowledgements.md
  eox-core-v-1-0/prose/edit/src/conformance.md
  eox-core-v-1-0/prose/edit/src/frontmatter.md
  eox-core-v-1-0/prose/edit/src/introduction-00.md
  eox-core-v-1-0/prose/edit/src/introduction-01-typographical-conventions.md
  eox-core-v-1-0/prose/edit/src/notices.md
  eox-core-v-1-0/prose/edit/src/overview.md
  eox-core-v-1-0/prose/edit/src/references.md
  eox-core-v-1-0/prose/edit/src/revision-history.md
  eox-core-v-1-0/prose/edit/src/safety-security-and-data-protection.md
  eox-core-v-1-0/prose/edit/src/table-of-contents.md
  eox-core-v-1-0/prose/media/OASISLogo-v3.0.png
  eox-core-v-1-0/prose/media/README.md
  eox-core-v-1-0/prose/media/logo-data-url.txt
  eox-core-v-1-0/prose/share/README.md
  eox-core-v-1-0/prose/share/eox-core-v1.0-draft.html
  eox-core-v-1-0/prose/share/eox-core-v1.0-draft.md
  eox-core-v-1-0/prose/share/eox-core-v1.0-draft.pdf
  eox-core-v-1-0/prose/share/style/README.md
  eox-core-v-1-0/prose/share/style/base.css
  eox-core-v-1-0/prose/share/style/skin.css
  eox-core-v-1-0/referenced-schema/README.md
  eox-core-v-1-0/schema/eox-core.json
  eox-core-v-1-0/submit/README.md
  eox-core-v-1-0/test/.required
Labels: documentation, process, motion_passed, editorial

#102 Added initial eox-api-v-1-0 spec area
  eox-api-v-1-0/examples/README.md
  eox-api-v-1-0/prose/README.md
  eox-api-v-1-0/prose/edit/bin/invert_eg_labels.py
  eox-api-v-1-0/prose/edit/bin/invert_sec_labels.py
  eox-api-v-1-0/prose/edit/bin/lapidify.py
  eox-api-v-1-0/prose/edit/bin/png-logo-to-data-url.sh
  eox-api-v-1-0/prose/edit/bin/toccata.py
  eox-api-v-1-0/prose/edit/bin/volatile.py
  eox-api-v-1-0/prose/edit/etc/bind.txt
  eox-api-v-1-0/prose/edit/etc/etiketti/etiketti.yml
  eox-api-v-1-0/prose/edit/etc/example-global-to-local.json
  eox-api-v-1-0/prose/edit/etc/example-local-to-global.json
  eox-api-v-1-0/prose/edit/etc/liitos/approvals.yml
  eox-api-v-1-0/prose/edit/etc/liitos/bookmatter.tex.in
  eox-api-v-1-0/prose/edit/etc/liitos/changes.yml
  eox-api-v-1-0/prose/edit/etc/liitos/driver.tex.in
  eox-api-v-1-0/prose/edit/etc/liitos/meta.yml
  eox-api-v-1-0/prose/edit/etc/liitos/metadata.tex.in
  eox-api-v-1-0/prose/edit/etc/liitos/patch.yml
  eox-api-v-1-0/prose/edit/etc/liitos/publisher.tex.in
  eox-api-v-1-0/prose/edit/etc/liitos/setup.tex.in
  eox-api-v-1-0/prose/edit/etc/liitos/structure.yml
  eox-api-v-1-0/prose/edit/etc/markdownlint.json
  eox-api-v-1-0/prose/edit/etc/oasis/starter-template.md
  eox-api-v-1-0/prose/edit/etc/section-display-to-label.json
  eox-api-v-1-0/prose/edit/etc/section-label-to-display.json
  eox-api-v-1-0/prose/edit/etc/tidy-config.txt
  eox-api-v-1-0/prose/edit/etc/vale.ini
  eox-api-v-1-0/prose/edit/makefile
  eox-api-v-1-0/prose/edit/src/acknowledgements.md
  eox-api-v-1-0/prose/edit/src/conformance.md
  eox-api-v-1-0/prose/edit/src/frontmatter.md
  eox-api-v-1-0/prose/edit/src/introduction-00.md
  eox-api-v-1-0/prose/edit/src/introduction-01-typographical-conventions.md
  eox-api-v-1-0/prose/edit/src/notices.md
  eox-api-v-1-0/prose/edit/src/overview.md
  eox-api-v-1-0/prose/edit/src/references.md
  eox-api-v-1-0/prose/edit/src/revision-history.md
  eox-api-v-1-0/prose/edit/src/safety-security-and-data-protection.md
  eox-api-v-1-0/prose/edit/src/table-of-contents.md
  eox-api-v-1-0/prose/media/OASISLogo-v3.0.png
  eox-api-v-1-0/prose/media/README.md
  eox-api-v-1-0/prose/media/logo-data-url.txt
  eox-api-v-1-0/prose/share/README.md
  eox-api-v-1-0/prose/share/eox-api-v1.0-draft.html
  eox-api-v-1-0/prose/share/eox-api-v1.0-draft.md
  eox-api-v-1-0/prose/share/eox-api-v1.0-draft.pdf
  eox-api-v-1-0/prose/share/style/README.md
  eox-api-v-1-0/prose/share/style/base.css
  eox-api-v-1-0/prose/share/style/skin.css
  eox-api-v-1-0/referenced-schema/README.md
  eox-api-v-1-0/schema/.required
  eox-api-v-1-0/submit/README.md
  eox-api-v-1-0/test/.required
Labels: documentation, process, motion_passed, editorial
